@import url('https://fonts.cdnfonts.com/css/inter');

:root {
    --size: 1;
   
  }
  
  body {
    background-image: url('./Images/Dashboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Inter', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
  }

  .ticket-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

  }
  
  .ticket-main-body {
    width: 45em;
    height: 23em;
    margin: 1em auto;
    position: relative;
    transition: all 300ms cubic-bezier(0.03, 0.93, 0.53, 0.99) 0s;
    padding: 5px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.39);
    border-radius: 20px;
  }
  
  
  .ticket-visual-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
  }
  
  .ticket-top {
    padding: 1em;
  }

  .ticket-title {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
  }

  .ticket-logo-img {
    height: 3em;
    width: 6em;
    object-fit: contain;
  }


  .ticket-profile-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5em;
  }
  
  .ticket-profile-img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .ticket-profile-name { 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3em;
  }

  .ticket-surname {
    font-size: 2.7em;
    font-weight: 700;
  }

  .ticket-name {
    font-size: 1.5em;
    font-weight: 500;
  }

  .ticket-personal-information {
    margin-left: 3em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3em;
    font-size: 1em;
  }

  
  .ticket-bottom { 
    padding: 0.5em 8em 1em 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
  }

  .information {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .ticket-bottom h1 { 
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }

  .group-information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4em;
  }

  .ticket-bottom p { 
    font-size: 0.8em;
  }
  
  .ticket-right-wrapper {
    position: absolute;
    right: 35px;
    bottom: 0;
  }
  
  .ticket-number {
    transform: rotate(90deg) translateY(calc(100px * var(--size)));
    transform-origin: bottom right;
    font-size: calc(40px * var(--size));
    font-weight: 700;
    text-align: center;
    padding-bottom: 35px;
    width: 365px;
    border-bottom: 2px dashed #333;
  }
  